beautifulsoup4==4.10.0
cachetools==5.1.0
certifi==2021.10.8
charset-normalizer==2.0.12
google-api-core==2.8.0
google-auth==2.6.6
google-cloud-appengine-logging==1.1.1
google-cloud-audit-log==0.2.0
google-cloud-core==2.3.0
googleapis-common-protos==1.56.1
grpc-google-iam-v1==0.12.4
grpcio==1.46.3
grpcio-status==1.46.3
idna==3.3
packaging==21.3
proto-plus==1.20.4
protobuf==3.20.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==3.0.9
requests==2.27.1
rsa==4.8
six==1.16.0
soupsieve==2.3.1
urllib3==1.26.8
